Src/Eyedia.IDPE.ConTest/Service References/SRE/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="StartPullers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartPullersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartPullersResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopPullers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StopPullersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StopPullersResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPullersStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPullersStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPullersStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataSourceId" type="xs:int" />
        <xs:element minOccurs="0" name="dataSourceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="processingBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="inputData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcessJobResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessObjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataSourceId" type="xs:int" />
        <xs:element minOccurs="0" name="dataSourceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="processingBy" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="inputData" nillable="true" type="q1:ArrayOfanyType" />
        <xs:element minOccurs="0" name="overridenMapping" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessObjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcessObjectsResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessXml">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlInput" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="processingBy" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessXmlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcessXmlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearCache">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearCacheResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClearCacheResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>