Src/Eyedia.IDPE.ConTest/Service References/SRE/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Sre" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ISre_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISre_StartPullers_InputMessage">
    <wsdl:part name="parameters" element="tns:StartPullers" />
  </wsdl:message>
  <wsdl:message name="ISre_StartPullers_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartPullersResponse" />
  </wsdl:message>
  <wsdl:message name="ISre_StopPullers_InputMessage">
    <wsdl:part name="parameters" element="tns:StopPullers" />
  </wsdl:message>
  <wsdl:message name="ISre_StopPullers_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopPullersResponse" />
  </wsdl:message>
  <wsdl:message name="ISre_GetPullersStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPullersStatus" />
  </wsdl:message>
  <wsdl:message name="ISre_GetPullersStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPullersStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ISre_ProcessJob_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessJob" />
  </wsdl:message>
  <wsdl:message name="ISre_ProcessJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessJobResponse" />
  </wsdl:message>
  <wsdl:message name="ISre_ProcessObjects_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessObjects" />
  </wsdl:message>
  <wsdl:message name="ISre_ProcessObjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessObjectsResponse" />
  </wsdl:message>
  <wsdl:message name="ISre_ProcessXml_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessXml" />
  </wsdl:message>
  <wsdl:message name="ISre_ProcessXml_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessXmlResponse" />
  </wsdl:message>
  <wsdl:message name="ISre_ClearCache_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearCache" />
  </wsdl:message>
  <wsdl:message name="ISre_ClearCache_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearCacheResponse" />
  </wsdl:message>
  <wsdl:portType name="ISre">
    <wsdl:operation name="StartPullers">
      <wsdl:input wsaw:Action="http://tempuri.org/ISre/StartPullers" message="tns:ISre_StartPullers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISre/StartPullersResponse" message="tns:ISre_StartPullers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StopPullers">
      <wsdl:input wsaw:Action="http://tempuri.org/ISre/StopPullers" message="tns:ISre_StopPullers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISre/StopPullersResponse" message="tns:ISre_StopPullers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPullersStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/ISre/GetPullersStatus" message="tns:ISre_GetPullersStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISre/GetPullersStatusResponse" message="tns:ISre_GetPullersStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessJob">
      <wsdl:input wsaw:Action="http://tempuri.org/ISre/ProcessJob" message="tns:ISre_ProcessJob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISre/ProcessJobResponse" message="tns:ISre_ProcessJob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessObjects">
      <wsdl:input wsaw:Action="http://tempuri.org/ISre/ProcessObjects" message="tns:ISre_ProcessObjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISre/ProcessObjectsResponse" message="tns:ISre_ProcessObjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessXml">
      <wsdl:input wsaw:Action="http://tempuri.org/ISre/ProcessXml" message="tns:ISre_ProcessXml_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISre/ProcessXmlResponse" message="tns:ISre_ProcessXml_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearCache">
      <wsdl:input wsaw:Action="http://tempuri.org/ISre/ClearCache" message="tns:ISre_ClearCache_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISre/ClearCacheResponse" message="tns:ISre_ClearCache_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ISre" type="tns:ISre">
    <wsp:PolicyReference URI="#NetTcpBinding_ISre_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="StartPullers">
      <soap12:operation soapAction="http://tempuri.org/ISre/StartPullers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopPullers">
      <soap12:operation soapAction="http://tempuri.org/ISre/StopPullers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPullersStatus">
      <soap12:operation soapAction="http://tempuri.org/ISre/GetPullersStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessJob">
      <soap12:operation soapAction="http://tempuri.org/ISre/ProcessJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessObjects">
      <soap12:operation soapAction="http://tempuri.org/ISre/ProcessObjects" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessXml">
      <soap12:operation soapAction="http://tempuri.org/ISre/ProcessXml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearCache">
      <soap12:operation soapAction="http://tempuri.org/ISre/ClearCache" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Sre">
    <wsdl:port name="NetTcpBinding_ISre" binding="tns:NetTcpBinding_ISre">
      <soap12:address location="net.tcp://localhost:7575/sre" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:7575/sre</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>